.post-body {
    width: 80vh;
    background-color: #588157;
    margin: 10px;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}
.post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-title {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
}
.post-description {
    color: #fefae0;
    font-size: 18px;
}
hr{
    border-top: 5px #93a065;
    width: 100%;
    border-style: solid;
}

.like-btn {
    background-color: #6a9212;
}

.like-btn:hover {
    background-color: #105f25;
}

.post-user-name {
    font-size: 18px;
    font-weight: 500;
}

p {
    margin: 10px 0;
}
button:disabled, button[disabled=disabled] {
    /* background-color: grey; */
    pointer-events: none;
    opacity: 0.3;
}