.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #04395E;
  background-color: #E7EFC5;
}
button, .create-form-submit-btn {
  margin: auto;
  border-radius: 999px;
  background-color: #BFD3C1;
  color: #04395E;
  box-sizing: border-box;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
}
button:hover, .create-form-submit-btn:hover {
  box-shadow: #68A691 0 10px 20px -10px;
  background-color: #04395E;
  color: #BFD3C1;
}